
docs/~$設計資料.xlsx
Javardry_v1027/data/error.log
Javardry_v1027/data/error.txt
Javardry_v1027/data/save.dat
Javardry_v1027/data/save.bak
Javardry_v1027/graphic
Javardry_v1027/music
Javardry_v1027/sound
Javardry_v1027_lost/
Javardry_v1027/data/config.ini
